body {
    background: #111118;
    margin: 0;
  }
.container {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }

.events_container{
 
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.content{
  position: absolute;
  z-index: 90;
  color: white;
  top: 20%;
  width: 80%;
  left: 10%;
  right: 10%;
}
.content h1{
  text-shadow: 4px 4px grey;
  font-size: 6rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.content p {
  font-size: 1.5rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 100 !important;
  line-height: 1.5;
}

.rubaroologo img {
  width: 10vw;
  height: 15vh;
  position: absolute;
  z-index: 90;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background: #111111;
    top: 0;
    left: -100%;
}