*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow: hidden;
    background: black;
}

.nav {
    left: -100%;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.nav-red{
    left: -100%;
    top:0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    background-color: #ff5656;
  
}

.nav_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%; 
}

.links{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1;
    margin-top: 0;
    padding:0;
    text-transform: uppercase;
   
}
.links :hover{
    color: #ff5656;
}
.link {
    text-decoration: none;
    color: #222222;
}

.nav-btn{
    margin-left: 22px;
    position: absolute;
    top: 50%;
    right: 40px;
    text-align: left;
    z-index: 100;
    cursor: pointer;
    color: #ffffff;
    transform: translateY(-50%);
}
@media only screen and (max-width: 800px){
    .nav-btn{
        top: 150px;
        right: 40px;
    }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 10px;
    transition: 0.4s;
}

.change .bar1 {
    background-color: #ff5656;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    background-color: #ff5656;
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}
.menu {
    font-size: 0.5rem;
    position: absolute;
    top: 0;
    margin-left: 51px;



}
.menu h1{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 600px) {
    .links {
        font-size: 2em;
        top: 0;
        left: 15%;
        position: absolute;
        transform: translate(0 , 50%)
    }
}
.first-alpha {
    font-size: 2vw;
    text-shadow: 1px 1px red;

}

.one:hover {
color: #6f84dc;
}

.two:hover {
    color: #b43277;
}

.three:hover {
    color: #f0a488;
}

.four:hover {
    color: #e9a068;
}

.five:hover {
    color: rgb(245, 245, 12);
}

.six:hover {
    color: greenyellow;
}